# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test
.env.production

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
